
.card {
    min-width: 18rem;
    max-width: 18rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-group {
    margin-right: 20px;
}

.badge {
    margin-left: 10px;
}

.enrolled-span {
    text-decoration: underline;
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 4px;
}

.notifications {
    background-color: rgba(238, 74, 74, 0.699);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    color: white;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
}

.pagination {
  display: flex;
  list-style: none;
}
.pagination li {
  flex: 1;
  margin: 0px 5px;
  background: #dde1e7;
  border-radius: 3px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination li a {
  font-size: 18px;
  text-decoration: none;
  color: #4d3252;
  height: 45px;
  width: 55px;
  display: block;
  line-height: 45px;
}
.pagination li:first-child a {
  width: 120px;
}
.pagination li:last-child a {
  width: 100px;
}
.pagination li.active {
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination li.active a {
  font-size: 17px;
  color: #6f6cde;
}
.pagination li:first-child {
  margin: 0 15px 0 0;
}
.pagination li:last-child {
  margin: 0 0 0 15px;
}

#yourNumber{
border: 3px solid blue;
width: 175px;
height: 33px;
}

#result{
border: 3px solid green;
width: 260px;
right: -425px;
position: relative;
}

#username{
width: 275px;
}
#password{
width: 275px;

}
#login-form{
right: -367px;
position: relative;
}

.navbar-nav > .active > a {
   background-color: blue;
}

.navbar-nav > div > .active > a {
   background-color: blue;
}

#dashboard{
right: 5px;
position:relative;
}

#footer{
position: relative;
top: 33px;
}



The snippet below is almost equals to your grid example. The differences are width: 100% on the container, so the content fill the page width and the media query that shows the result on 2 or 4 columns depending on the screen width (run it full screen and resize the window below 480px to see the difference).

.container {
  display: grid;
  background-color: yellow;
  grid-gap: 0.5rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 480px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
