
.card {
    min-width: 18rem;
    max-width: 18rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-group {
    margin-right: 20px;
}

.badge {
    margin-left: 10px;
}

.enrolled-span {
    text-decoration: underline;
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 4px;
}

.notifications {
    background-color: rgba(238, 74, 74, 0.699);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    color: white;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
}

.user-card{
 outline: 3px inset #F54B4B;
 position: relative;
 radius: 35px;
}

#quantityError{
  position: relative;
  left: 424px;
}

#next{
left: 658px;
position: absolute;
}

#previous{
left: 541px;
position: absolute;
}

#pageNumber{
left: 639px;
position: absolute;
}

.pagination a {
  color: blue;
  float: left;
  padding: 1px 15px;
  text-decoration: none;
  transition: background-color;
  border-radius: 33px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
background-color: #ddd;
}

#yourNumber{
border: 3px solid blue;
width: 175px;
height: 33px;
}

#result{
border: 3px solid green;
width: 260px;
right: -425px;
position: relative;
}

#username{
width: 275px;
}
#password{
width: 275px;
}

#login-image{
left: 625px;
top: 200px;
position: absolute;
}

#game-image-left{
  position:absolute;
  top:230px;
}
#game-image-right{
  position:absolute;
  left: 860px;
  top:230px;
}

#username-register{
width: 275px;
}

#password-register{
width: 275px;
}

#passwordConfirm{
width: 275px;
}

.navbar-nav > .active > a {
   background-color: blue;
}

.navbar-nav > div > .active > a {
   background-color: blue;
}

#dashboard{
right: 5px;
position:relative;
}

#quantityError{
width: 265px;
}

#footer{
position: relative;
top: 33px;
}


